body{
  background-color: #f9f9f9;
  color: black;
  max-width: 500px;
  margin: 10px auto;
  padding: 20px;
  font-family: sans-serif;
}

h1 {
  color: black;
  text-align: center;
  font-size: 48px;
  font-family:  "Trebuchet MS", sans-serif;
  margin-bottom: 30px;
}

#todoInput{
  padding: 10px;
  width: 80%;
  border-radius: 8px;
}

#todoInput:focus {
  outline: none;
  border-color: greenyellow;
}

#addButton {
  padding: 7px 15px;
  height: 38px;
  border-radius: 8px;
}

#addButton:hover{
  border-color: greenyellow;
}

li {
  background-color: white;
  padding: 15px;
  box-shadow: 0 2px 2px;
  margin: 3px 0
}

li button {
  float: right;
}

li:hover {
  background-color: antiquewhite;
  cursor: pointer;
}

.completed{
    text-decoration: line-through
  }